@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,700,800|Roboto:400,500,700,900');

* {
    font-family: 'Open Sans', sans-serif;
}

/* #04d6d6 */
/* #04d6d6 */

.welcome {
  background-color: #04d6d6;
  color: white !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0db0b0;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
}



.custom-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(94, 94, 94, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.subhead {
    color: white;
    font-size: 20px;
}

.display-4 {
    font-size: 60px;
    color: white;
}

.top-section {
    top: 100px;
    
}

.my-row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.my-card {
    display: flex;
    
    align-items: center;
    justify-content: flex-start;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    flex-direction: column;
    width: 300px;
}

.my-card-img {
    width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    overflow: hidden;
}

.my-card-img img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    transition: transform .2s;
  }
  
  .my-card-img img:hover {
    transform: scale(1.2);
  }

.my-card-title {
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    margin-bottom: -10px;
}

.my-card-content {
    min-height: 200px;
    max-height: 200px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;

}
.my-card-content p {
  text-overflow: ellipsis;
}


.my-card a{
    padding: 10px;
    align-self: flex-end;
}

.carousel-item {
    height: 100vh;
    /* min-height: 400px; */
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .carousel-caption {
    bottom: 270px;
  }
  
  .carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
  }
  
  .carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
  }

  .carousel-inner {
    max-height: 500px;
    /* border-bottom: 5px solid #04d6d6; */
  }

  @media (max-width: 1175px) {
    .carousel-inner {
      height: 400px;
    }
    .carousel-inner img {
      height: 400px;
      width: auto;
      object-fit: cover;
    }
    
  }
  
  /* .navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: black;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: rgb(85, 83, 83);
  }
  
  .navbar-toggler {
    background: #fff;
  }
  
  .navbar-nav {
    text-align: center;

  }
  
  a.nav-link {
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: rgb(74, 72, 72);
  }

  .nav-link {    
    padding: .2rem 1rem;
    align-content: center;
    justify-content: center;
  }


  .nav-link.active,.nav-link:focus{
    color: #fff;
  }
  
  .navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #04d6d6;
    
  }

  .top-bar {
    color: white;
    background-color: #04d6d6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
    background-size: 100%;
    font-size: 12px;
    height: 30px;
  }


  
  .navbar {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    min-height: 80px;   
}
  
    .navbar-nav {
        /* display: flex;
        flex-direction: row;
        gap: 20px;
        text-align: center; */
    
/* 
  .nav-item {
    margin-right: 20px;
  }

  .nav-item.dropdown.show {
    align-self: center;
  } */

  #boxes {
    height: 100%;
  }

  #boxes i {
    color: black;
    font-size: 60px;
  }

  .my-box {
    filter: opacity(80%);
    position: relative;
    bottom: 35px;
    margin-bottom: -65px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    border-top: 4px solid #00bb7600 ;
    background: #04d6d6;
    background: linear-gradient(90deg, #04d6d6 48%, rgba(255,255,255,1) 100%);
  }

  .service {
    padding: 5px;
    background-color: #fff;
    border-right: .5px solid rgba(128, 128, 128, 0.269); 
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px; */
  }

  .service h4 {
    font-size: 20px;
  }

 .box i {
    margin-top: 20px;
 }

 .dropdown-menu {
    border-top: solid 3px #04d6d6;
 }

.vm{
  margin: 0 auto;
  border-bottom: .1px solid rgba(128, 128, 128, 0.53);
  width: 50%;
}

.misi li {
  color: #04d6d6;
}

.misi li span {
  color: rgb(58, 58, 58);
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #04d6d6;
}

.nav-link:hover {
  color: #04d6d6;
}

.drpdown-menu {
  transform: rotate(90deg);
}

.figure img {
  max-height: 500px;
}

.jadwal h6 {
  font-size: 16px;
}

.news {
  border-right: .5px solid rgba(128, 128, 128, 0.493);
}

.news-date {
  font-size: 13px;
}

.news img {
  max-height: 400px;
  object-fit: cover;
}

.social-media {
  border:  .5px solid rgba(128, 128, 128, 0.279);
}

.tags {
  border: .5px dotted gray;
}


.promo h5 {
  font-size: 5vh;
  font-weight: 100;
}

.promo a {
  /* sfont-size: .8vw; */
  /* padding: 5px; */

  width: auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.partner img {
  height: 130px;
  width: 130px;
  object-fit: scale-down;
}

#partner {
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#pricing {
  background-blend-mode: screen;
  background-size: cover;
  
}

.k-unit .card{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.k-unit .card {
  margin-right: 30px;
  min-width: 300px;
}


.k-unit .card h5 {
  font-size: 1.2em;
}

.k-unit .card .card-body {
  height: 200px;
  overflow: hidden;
}


.item img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}

@media screen and (max-width:1197px){
  #med-ico {
    width: 20%;
  }

  /* .k-unit .card {
    width: 1000px;
  } */
}

.card-ico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-ico img{
  height: 80px;

}

.unit-img {
  overflow: hidden;
  height: 200px;
}

#sdm {
  
}

.unit-card {
  /* height: 330px; */
  width: 400px;
  overflow: hidden;
}

.unit-card img.card-img-top {
  height: 200px;
  object-fit: cover;
  transition: transform .2s;
  transition: transform .2s;
}

.unit-card .card-img-top:hover {
  transform: scale(1.2);

}

.unit-card h5 {
  font-size: 15px;
}

.unit-card p {
  font-size: 1.4rem;
}

.unit-heading {
  background-color: #04d6d6;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.unit-heading h1 {
  text-decoration: underline;
}

.unit-detail h3 {
  margin-bottom: 0;
}


.uni-single-departments-left .uni-single-department-left-title {
  background-color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 60px;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  }

.uni-single-departments-left .uni-single-department-left-table {
  background-color: #07abc8;
  padding: 0 20px; }
  .uni-single-departments-left .uni-single-department-left-table tr:first-child td {
    border-top: none; }
  .uni-single-departments-left .uni-single-department-left-table tr td {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: capitalize;
  }

.uni-single-departments-left .uni-single-department-contact-info {
  background-color: #07abc8; 
}
  .uni-single-departments-left .uni-single-department-contact-info ul {
    padding: 20px; }
    .uni-single-departments-left .uni-single-department-contact-info ul li {
      list-style-type: none;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.14;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      border-bottom: 1px solid white;
      padding-bottom: 15px;
      margin-bottom: 15px; }
      .uni-single-departments-left .uni-single-department-contact-info ul li:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0; }

.uni-single-departments-right .uni-single-departments-right-title {
  /* font-size: 24px; */
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: #333; }

.uni-single-departments-right .uni-divider {
  border-color: #3f97da; }

.uni-single-departments-right .uni-single-departments-cardiology img {
  width: 100%;
  height: auto; }

.uni-single-departments-right .uni-single-departments-cardiology p {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 5px;
  color: #666666; }

.uni-single-departments-right .uni-single-departments-cardiology ul {
  padding-top: 30px; }
  .uni-single-departments-right .uni-single-departments-cardiology ul li {
    position: relative;
    padding-left: 15px; }
    .uni-single-departments-right .uni-single-departments-cardiology ul li:before {
      position: absolute;
      top: 7px;
      left: 0;
      content: '\f111';
      font-family: FontAwesome;
      font-size: 7px;
      color: #04d6d6; }

